#no-mobile {
  position: absolute;
  z-index: 99;
  height: 100vh;
  width: 100vw;
  background-color: var(--yellow);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  top: 0;
}

/* width가 600px보다 작으면 no-mobile이 안 보이도록 해줌 */
@media screen and (max-width: 600px) {
  #no-mobile {
    display: none;
  }
}
